.header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color:rgb(32, 61, 187);
    align-items: center;
    text-align: center;
    padding: 5px 20px;
}
.left{
    padding-left: 50px;
    display: flex;
    margin-top: -8px;
}
.left p{
    padding-right: 20px;
    font-size: 18px;

}
.right{
    display: flex;
    align-items: center;
}
.right select{
    margin-right: 20px;
    padding:10px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.right span{
    margin: 0 15px;
    cursor: pointer;
    color:white;
    font-weight: bold;
}
.right form{
    display: flex;
    border: 1px solid gray;
    align-items: center;
    padding: 0 5px;
    border-radius: 4px;
    background-color: rgb(194, 211, 209);
}
.right form input{
    border: none;
    background-color: transparent;
    padding: 5px ;
    outline: none;
}