.header{
    background-color:royalblue;
    align-items: center;
    justify-content: center;
    padding:25px;
    display: flex;
    justify-content: space-between;

}
.left{
    display: flex;
    text-align: center;
    align-items: center;
}
.search{
    margin:0 30px;
    width: 330px;
    background-color: rgb(202, 204, 212);

}
.header input{
    width: 300px;
    border-radius: 2px;
    border: none;
    outline:none;
    padding: 5px;
    background-color: transparent;
}
.header select{
    margin-right: 15px;
    margin-top: 4px;
    width: 80px;
    padding:6px;
    cursor: pointer;
    border:none;
    outline:none;
    background-color: rgb(202, 204, 212);

}
.header select option{
    background-color: white;
    cursor: pointer;
}
    
