
#uzbekistan{
  
    fill:rgb(5, 5, 170);
    }
  
  
    #UZB354:hover{
        fill:red;
    }
  
    #UZB355:hover{
        fill: rgb(114, 99, 72);
    }
  
    #UZB356:hover{
        fill: rgb(95, 85, 28);
    }
    #UZB357:hover{
        fill: seagreen;
    }
  
    #UZB358:hover{
          fill: rgb(14, 190, 190);
    }
  
    #UZB361:hover{
        fill: rgb(179, 115, 115);
    }
    
    #UZB362:hover{
        fill: firebrick;
    }
  
    #UZB363:hover{
        fill: lightpink;
    }
  
    #UZB364:hover{
        fill: brown;
    }
  
    #UZB365:hover{
        fill: violet;
    }
  
    #UZB370:hover{
        fill: rgb(131, 135, 138);
    }
    
    #UZB371:hover{
        fill:darkslategrey ;
    }
    
    #UZB372:hover{
        fill: rgb(3, 75, 75);
    }
  
    #UZB4828:hover{
        fill:darkviolet;
    }
  