#tashkent  {
    fill:teal;
}
#UZTA220:hover{
    fill:red;
}

#UZTA224:hover{
    fill: rgb(114, 99, 72);
}

#UZTA228:hover{
    fill: rgb(95, 85, 28);
}
#UZTA256:hover{
    fill: seagreen;
}

#UZTA248:hover{
      fill: rgb(14, 190, 190);
}

#UZTA212:hover{
    fill: rgb(179, 115, 115);
}

#UZTA206:hover{
    fill: firebrick;
}

#UZTA249:hover{
    fill: lightpink;
}

#UZTA250:hover{
    fill: brown;
}

#UZTA233:hover{
    fill: violet;
}
#UZTA237:hover{
    fill: indianred;
}

#UZTA253:hover{
    fill: yellow;
}

#UZTA259:hover{
    fill:darkviolet;
}
#UZTA239:hover{
    fill: gray;
}
