
#Tashkent  {
    fill: #9eabda;
   
}
#UZTA220:hover {
    fill:	#f08080;
}

#UZTA224:hover{
    fill: 	#f08080;
}

#UZTA228:hover{
    fill: 	#f08080;
}
#UZTA256:hover{
    fill: 	#f08080;
}

#UZTA248:hover{
      fill: 	#f08080;
}

#UZTA212:hover{
    fill: 	#f08080;
}

#UZTA206:hover{
    fill: 	#f08080;
}

#UZTA249:hover{
    fill:#f08080;
}

#UZTA250:hover{
    fill: 	#f08080;
}

#UZTA233:hover{
    fill: 	#f08080;
}
#UZTA237:hover{
    fill: 	#f08080;
}

#UZTA253:hover{
    fill: 	#f08080;
}

#UZTA259:hover{
    fill:	#f08080;
}
#UZTA239:hover{
    fill: 	#f08080;
}

/*--------------------------------------------*/
#Bukhoro  {
    fill:#9eabda;
}


 #UZBU207:hover{
    fill: 	#f08080;
}

 #UZBU204:hover{
    fill: 	#f08080;
}
 #UZBU215:hover{
    fill: 	#f08080;
}
 #UZBU246:hover{
    fill: 	#f08080;
}
 #UZBU219:hover{
    fill: 	#f08080;
}
 #UZBU230:hover{
    fill: 	#f08080;
}
 #UZBU232:hover{
    fill: 	#f08080;
}
 #UZBU242:hover{
    fill: 	#f08080;
}
 #UZBU243:hover{
    fill: 	#f08080;
}
 #UZBU244:hover{
    fill: 	#f08080;
}
 #UZBU240:hover{
    fill: 	#f08080;
}
 #UZBU258:hover{
    fill: 	#f08080;
}
 #UZBU212:hover{
    fill: 	#f08080 ;
}

/*-------------------------------------------------*/

#Khorezm{
    fill:#9eabda;
}

 #UZKH236:hover{
    fill: 	#f08080;
}
 #UZKH233:hover{
    fill: 	#f08080;
}
 #UZKH217:hover{
    fill: 	#f08080;
}
 #UZKH230:hover{
    fill: 	#f08080
}
 #UZKH212:hover{
    fill: 	#f08080;
}
 #UZKH226:hover{
    fill: 	#f08080;
}
 #UZKH220:hover{
    fill: 	#f08080;
}
 #UZKH223:hover{
    fill: 	#f08080;
}
 #UZKH208:hover{
    fill: 	#f08080;
}
 #UZKH204:hover{
    fill:	#f08080;
}

/*--------------------------------------------*/

#Karakalpakstan{
    fill:#9eabda;
}


#UZQR204:hover{
    fill:	#f08080;
}
 #UZQR207:hover{
    fill: 	#f08080;
}
 #UZQR240:hover{
    fill: 	#f08080;
}
 #UZQR241:hover{
    fill: 	#f08080;
}
 #UZQR250:hover{
    fill:	#f08080;
}
 #UZQR212:hover{
    fill: 	#f08080;
}
 #UZQR222:hover{
    fill: 	#f08080;
}
 #UZQR401:hover{
    fill: 	#f08080;
}
 #UZQ218:hover{
    fill: 	#f08080;
}
 #UZQR215:hover{
    fill: 	#f08080;
}
 #UZQR215:hover{
    fill: 	#f08080;
}
 #UZQR211:hover{
    fill: 	#f08080;
}
 #UZQR243:hover{
    fill: 	#f08080;
}
 #UZQR233:hover{
    fill: 	#f08080;
}
 #UZQR230:hover{
    fill: 	#f08080;
}
 #UZQR236:hover{
    fill: 	#f08080;
}

/*---------------------------------------------------*/



#Navoi{
    fill:#9eabda;  
    align-items: center;
}


#UZNW111:hover{
    fill: 	#f08080;
}
 #UZNW112:hover{
    fill: 	#f08080);
}
 #UZNW234:hover{
    fill: 	#f08080;
}
 #UZNW216:hover{
    fill: 	#f08080);
}
 #UZNW251:hover{
    fill: 	#f08080;
}
 #UZNW238:hover{
    fill: 	#f08080;
}
 #UZQ218:hover{
    fill: 	#f08080;
}
 #UZNW244:hover{
    fill: 	#f08080;
}
 #UZNW248:hover{
    fill: 	#f08080;
}
 #UZNW9:hover{
    fill: 	#f08080;
}
 
/* -------------------------------------------------------------*/

#Kashkadarya{
    fill: #9eabda;
}


#UZQA242:hover{
    fill:	#f08080;
}
 #UZQA212:hover{
    fill: 	#f08080;
}
 #UZQA207:hover{
    fill: 	#f08080;
}
 #UZQA220:hover{
    fill: 	#f08080;
}
 #UZQA224:hover{
    fill: rgb(119, 35, 119);
}
 #UZQA229:hover{
    fill: 	#f08080;
}
 #UZQA237:hover{
    fill: 	#f08080;
}
 #UZQA232:hover{
    fill: 	#f08080;
}
 #UZQA233:hover{
    fill: 	#f08080;
}
 #UZQA234:hover{
    fill: 	#f08080;
}
 #UZQA235:hover{
    fill: 	#f08080;
}
 #UZQA245:hover{
    fill: 	#f08080;
}
 #UZQA250:hover{
    fill: 	#f08080;
}

/*---------------------------------------------------------------*/