.uzbmap{
    width: 600px;
    height: 450px;
  
}
#uzbekistan{
  
    fill: #067488;
    }
  
  
    #UZB354:hover{
        fill:rgb(83, 207, 238);
    }
  
    #UZB355:hover{
        fill: rgb(83, 207, 238);
    }
  
    #UZB356:hover{
        fill: rgb(83, 207, 238);
    }
    #UZB357:hover{
        fill: rgb(83, 207, 238);
    }
  
    #UZB358:hover{
        fill: rgb(83, 207, 238);
    }
  
    #UZB361:hover{
        fill: rgb(83, 207, 238);
    }
    
    #UZB362:hover{
        fill: rgb(83, 207, 238);
    }
  
    #UZB363:hover{
        fill: rgb(83, 207, 238);
    }
  
    #UZB364:hover{
        fill: rgb(83, 207, 238);
    }
  
    #UZB365:hover{
        fill: rgb(83, 207, 238);
    }
  
    #UZB370:hover{
        fill: rgb(83, 207, 238);
    }
    
    #UZB371:hover{
        fill: rgb(83, 207, 238);
    }
    
    #UZB372:hover{
        fill: rgb(83, 207, 238);
    }
  
    #UZB4828:hover{
        fill: rgb(83, 207, 238);
    }
  